/***** GLOBAL STYLES ******/
/* selects all elements and pseudo elements */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

/* Responsive image styles */
img {
  width: 100%;
  border-radius: 50%;
}

figure {
  margin: 0;
}

h2, h3, h5, p {
  font-family: 'Lato', sans-serif;
}

/***** MOBILE HEADER STYLES *****/
header {
  position: relative;
}

.container-fluid {
  padding: 0 !important;
}

nav {
  position: absolute;
  top: 15px;
  z-index: 300; /* Stacks in front of particle div */
}

.fas, .fa-bars {
  color: #C80428;
  font-size: 30px;
}

.hero,
.particles {
  position: relative;
  width: 100%;
}

.hero {
  height: 60vh;  /*40% of viewport height to line up with particles div */
  position: relative;
  z-index: 100; /* Stacks behind particle div and navbar */
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Dancing Script', cursive; /* Overrides bootstrap font */
  font-size: 36px;
  font-weight: 400;
  color: #2A1E5C;
  padding: 15px 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.particles {
  position: absolute;
  top: 0;
  height: 65vh; /* 50% of viewport height */
  z-index: 200; /* Stacks in front of main section and behind navbar */
  transform-style: preserve-3d;
  overflow: hidden;
  cursor: pointer;
}

@keyframes move {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  10% ,90% {
    opacity: 1;
  }

  100% {
    transform: translateY(45vw);
    opacity: 0;
  }
}


/***** MAIN SECTION STYLES *****/
main {
  position: relative;
  margin: 0 25px;
}


/***** ABOUT SECTION STYLES *****/

figure {
  width: 50%;
}

.padding-vertical {
  padding: 25px 0;
}

.padding-bottom {
  padding-bottom: 40px;
}


/***** PROJECT SECTION STYLES *****/
#projects {
  background-color: #FFFFFF;
}

.remove-margin {
  margin-bottom: 0 !important;
}
